<div class="grid">
  <div class="col-1-4 sidbarBackgrnd sideBoarder">
    <br>
    <div class="sidebarTitle">
      Debatable
    </div>
    <img src="https://cldup.com/KCJED6cOZ2.png" type="button" class="logo">
    <br>
    <img src="https://cldup.com/4iixJiPAVs.png" class="addRoom" >
    <br>
    <div class="roomButton roomButtonText" ng-repeat="room in Rooms.roomArray" >
      {{ room.name }}
    </div>

    <div class="roomButton roomButtonText">
      Penutbutter Vs. Jelly
    </div>

  </div>
  <div class="col-3-4">
    <h3 class="main-view-title"> Home.html</h3>

  </div>

</div>
